.main__about-me {
    background-image: url(../img/bg.webp);
}

.main__about-me-container {
    max-width: 1200px;
    display: flex;
    margin: auto;
}

.main__title-block {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
    padding: 20px;
}

.main__title-foto {
    object-fit: cover;
    width: 100%;
    height: auto;
    /* padding: 20px; */
    padding-right: 1em;
    margin-block: 6em;
}

.main__title {
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    font-weight: 700;
    color: black;
    padding-bottom: 15px;
}

.main__title-down {
    font-size: 18px;
    color: black;
    font-weight: 400;
    padding-bottom: 1em;
}

.main__title-text {
    color: black;
    font-size: 16px;
    line-height: 28px;
}

.main__title-text p {
    padding-bottom: 15px;
}