.main__contacts-me {
    background-image: url(../img/Contacts_me_bg_foto.webp);
    background-size: cover;
    background-attachment: fixed;
}

.main__contacts-me-container {
    display: flex;
    flex-direction: row;
}

.main__contacts-me-container-text {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: auto;
    width: 600px;
    height: 700px;
    color: #050505dc;
}

.main__contacts-me-container-form {
    display: flex;
    flex-direction: column;
    padding: 100px;
    margin: auto;
    width: 600px;
    height: 700px;
}

.main__contacts-me-head-title-block {
    font-size: 41px;
    text-align: center;
}

.main__contacts-me-head-text-block {
    margin-top: 50px;
    padding: 20px;
    font-size: 22px;
}

.main__contacts-me-address-block {
    display: flex;
   flex-direction: row;
}

.main__contacts-me-address {
    font-size: 22px;
    padding-right: 50px;
}

.main__contacts-me-hours-block {
    display: flex;
    flex-direction: row;
}

.main__contacts-me-hours {
    font-size: 22px;
    padding-right: 50px;
}

.main__contacts-me-contacts-block {
    display: flex;
    flex-direction: row;
}

.main__contacts-me-contacts {
    font-size: 22px;
    padding-right: 50px;
}

.contacts-item {
    color: black;
}

/* .text-string {
    column-count: 20%;
} */

.main__contacts-me-container-form input {
    /* background-color: #2d2e34; */
    width: 100%;
    font-size: 14px;
    padding-left: 1em;
    height: 3em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    border: transparent;
    outline: none;
    /* color: var(--chapter-font-color-light); */
    cursor: pointer;
    transition: 0.5s all;
}

.main__contacts-me-container-form input:focus {
    border: 1px solid #14a9ee;
    border-radius: 5px;
}

.main__contacts-me-buttom-head [type="submit"] {
    color: #FFFFFF;
    width: 100%;
    padding: 14px 20px;
    margin-top: 56px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    background-color: #f3e688;
}

.main__contacts-me-buttom-text {
    margin-top: 20px;
}