.main__faq {
    background-image: url(../img/FAQ_bg.webp);
    background-color: rgb(240, 229, 218);
    padding: 85px 0 90px;
}

.main__faq-head-container {
    padding: 0 24px;
}

.main__faq-title {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 1.4px;
    text-align: center;
}

.main__faq-accordion-container {
    margin: 45px 0 0;
}

.main__faq-accordion-block {
    padding: 7.5px 0 20px;
}

.main__faq-accordion-button {
    border: none;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    font-weight: 500px;
    line-height: 32px;
    letter-spacing: 1px;
    color: var(--text-color-button-faq);
    background-color: transparent;
    transition: 0.4s;
    text-align: left;
}

.main__faq-accordion-block-text {
    max-height: 0;
    margin: 20px 0 0;
    letter-spacing: 0.5px;
    text-align: left;
    overflow: hidden;
}

.main__faq-accordion-block-button {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.main__faq-accordion-block-button::after {
    content: "\002B";
    color: #000;
    font-weight: normal;
    margin-left: auto;
    font-size: 24px;
    line-height: 1;
}

.faq__active::after {
    content: "\2013";
    color: #000;
    font-weight: normal;
    margin-left: auto;
    font-size: 24px;
    line-height: 1;
}

.main__faq-accordion-line {
    border: 0.3px solid #000;
    opacity: .125;
}

@media (min-width: 768px) {

    .main__faq {
        padding: 85px 0 95px;
    }

    .main__faq-head-container {
        padding: 0 32px;
    }

    .main__faq-title {
        font-size: 1.7rem;
        line-height: 41px;
        letter-spacing: 1.7px;
        padding: 0 15px;
    }
}

@media (min-width: 980px) {
    .main__faq {
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, .5)), url(../img/FAQ_bg.webp);
        background-color: rgb(240, 229, 218);
        background-position: 95% 50%;
        padding: 85px 0 90px;
    }

    .main__faq {
        padding: 85px 0 100px;
    }

    .main__faq-head-container {
        padding: 0 40px;
    }

    .main__faq-title {
        font-size: 2rem;
        line-height: 48px;
        letter-spacing: 2px;
        padding: 0 15px;
    }
}