.main__faq {
    background-image: url(../img/FAQ_bg.webp);
    background-color: rgb(240, 229, 218);
}

.main__faq-head-container {
    max-width: 1200px;
    margin: auto;
}

.main__faq-title {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    color: #000;
    font-weight: 700;
    text-align: center;
    padding: 1em 0 1em;
}

.main__faq-accordion-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.main__faq-accordion-block {
    padding-bottom: 25px;
}

.main__faq-accordion-block-text {
    padding-top: 20px;
    max-height: 0;
    overflow: hidden;
}

.main__faq-accordion-button {
    border: none;
    padding: 10px 0 10px;
    font-size: 22px;
    font-weight: 500px;
    line-height: 32px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.4s;
    text-align: left;
}

.main__faq-accordion-block-button {
    padding: 10px 0;
    position: relative;
    display: block;
 }

.main__faq-accordion-block-button::after {
    content: "\002B";
    color: #000;
    font-weight: normal;
    margin-left: auto;
    float: right;
    font-size: 24px;
    line-height: 1;
    padding-right: 20px;
 }

.faq__active::after {
    content: "\2013";
    color: #000;
    font-weight: normal;
    margin-left: auto;
    float: right;
    font-size: 24px;
    line-height: 1;
    padding-right: 20px;
 }

 .main__faq-accordion-line {
    border: 0.3px solid #000;
    opacity: .125;
 }