.main__text {
    display: flex;
    font-size: 35px;
    text-align: center;
    padding: 100px;
}

.main__head-text {
    font-size: 65px;
    display: flex;
    text-align: center;
    padding: 100px;
}

.main__head-text-mini {
    display: flex;
    font-size: 35px;
    text-align: center;
    margin: 10px 0;
    padding: 100px;
}