.main__front-page {
    background-color: #fff;
    display: flex;
    padding-inline: 6em;
}

.main__title-block {
    display: flex;
    flex-direction: column;
    margin: auto;
    /* width: auto; */
    text-align: left;
    padding: 20px;
}

.main__title-foto {
    object-fit: cover;
    width: 100%;
    height: auto;
    padding: 20px;
    margin-block: 6em;
}

.main__title {
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    font-weight: 700;
    color: black;
    /* text-align: center; */
}

.main__title-down {
    font-size: 18px;
    color: black;
    font-weight: 400;
}

.main__title-text {
    color: black;
    font-size: 16px;
}

.main__title-text>p {
    padding: 15px 30px;
}