.header__head-nav-container {
    background-color: #25201e;
}

.header__head-nav {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin: auto;
}

.contacts-item-line {
    color: rgb(222, 189, 155);
}

.header__head-nav-icons a {
    text-decoration: none;
    color: #fff;
}



.header__nav-container {
    background-color: #655e5a;
}

.header__nav {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    margin: auto;
}

.header__title {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    color: #fff;
}

.header__link {
    font-size: 16px;
    text-align: center;
    color: #fff;
}

.header__link-btn {
    background-color: rgb(222, 189, 155);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 35px;
    padding: 10px;
}