.main__my-approach-blocks>img {
    width: 100px;
    height: 100px;
}

.main__my-approach-head-text {
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    font-weight: 700px;
    text-align: center;
    padding-bottom: 20px;
}

.main__my-approach-container {
    display: grid;
    grid-column: 1fr 1fr 1fr;
}

.main__my-approach-container-up-block {
    display: flex;
    flex-direction: row;
    padding-inline: 3em;
    padding-bottom: 20px;
}

.main__my-approach-container-down-block {
    display: flex;
    flex-direction: row;
    padding-inline: 3em;
    padding-bottom: 20px;
}