.main__my-approach-head-container {
    max-width: 1200px;
    text-align: center;
    padding: 75px;
    margin: auto;
}

.main__my-approach-blocks img {
    width: 100px;
    height: 100px;
    padding-bottom: 15px;
}

.main__my-approach-blocks {
    padding-right: 15px;
}

.main__my-approach-blocks p {
    line-height: 28px;
}

.main__my-approach-head-text {
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    font-weight: 700;
    padding-bottom: 20px;
}

.main__my-approach-container {
    display: grid;
    grid-column: 1fr 1fr 1fr;
}

.main__my-approach-container-up-block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.main__my-approach-container-down-block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.main__my-approach-blocks-head-text {
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 22px;
}