.my-style__head-text {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    line-height: 38px;
    letter-spacing: 1px;
    padding: 0 0 1.5em;
    text-align: center;
}

.my-style__text {
    line-height: 28px;
    letter-spacing: 0.5px;
    text-align: justify;
}

.main__my-style-up-container {
    background-color: var(--background-button);
}

.main__my-style-down-container {
    background-color: var(--background-color-light);
}

.my-style__up-container,
.my-style__down-container {
    padding: 85px 24px 90px;
}

@media (min-width: 768px) {

    .my-style__up-container,
    .my-style__down-container {
        padding: 85px 32px 90px;
    }
}