.main__my-style {
    display: flex;
    flex-direction: column;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.my-style__head-text {
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    padding-bottom: 20px;
}

.my-style__text {
    font-size: 16px;
}

.my-style__up-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(222, 189, 155);
    padding: 100px;
}

.my-style__down-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 229, 218);
    padding: 100px;
}